.comp-blob-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.comp-blob {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%) rotate(30deg);
  width: 700px;
  height: 500px;

  background: radial-gradient(circle at 30% 30%, #0077ff, #9089fc);
  opacity: 0.6;
  filter: blur(120px);

  border-radius: 40% 60% 70% 30% / 40% 30% 70% 60%; /* organic blob shape */

  animation: floaty 10s ease-in-out infinite alternate;
  z-index: 0;
}

@keyframes floaty {
  from {
    transform: translateX(-50%) translateY(0) scale(1) rotate(30deg);
  }
  to {
    transform: translateX(-50%) translateY(40px) scale(1.05) rotate(30deg);
  }
}

